.select {
    margin-bottom: 32px;
    margin-left: 22px;
    width: 313px;
    height: 42px;

    .select__item--red {
      font-size: 30px;
      line-height: 20px;
      color: $red-circle;
    }
}

.select--header {
	width: 345px;
    margin: 0 0 0px 0;
}