.slider {
	width: 97%;
	margin: 0 auto 28px;
	position: relative;
	 	
	 	@media only screen and (max-width: 889px) {
	        overflow:auto;
	    }

	.slider__list {
  		width: 24%;

  		 	@media only screen and (max-width: 889px) {
		        padding: 0 5.5px;
		        width: 214px;
			}
	}
		
	.slider__list--short-list {
		width: 32%;
	}

	.slider__link {
		position: relative;
		&:hover {
			.text-little {
				/* text-decoration: underline; */
				font-size: 14px;
			}
		}
	}

	.slider__image {
		width: 100%;
		margin-bottom: 17px;

		 		@media only screen and (max-width: 889px) {
	        		width: 203px;
				}
	}

	.slider__image--short-list {
		margin-bottom: 10px;
	}

	.slider__box {
		display: flex;
		flex-direction : row;
		justify-content: space-between;
	}

	.slider__array-left {
		width: 10%;
		height: 100%;
		content: "";
		position: absolute;
		margin-left: -20px;
	}

	.slider__array-right {
		@extend .slider__array-left;
		margin-left: 90%;
	}

	
}

.slider--big-indent  {
	margin-bottom: 37px;
}







