.tab-navigation {
	display: flex;
	flex-direction : row;
	justify-content: center;
margin: 20px;

	.tab-navigation__list {
		
		font-size: 14px;
	}
}

#secondTab, #thirdTab {
	display: none;
} 
