  .title {
    text-align: center;
    font-size: 24px;
    display: block;
    padding: 25px;
    @media only screen and (max-width: 889px) {
       font-size: 20px;
    }
}
.title--title-icon {
  text-align: left;
  padding-left: 0;
  display: block;
  margin: -3px 0 5px 81px;
}

.title--title-icon:before {
  content: url(../img/telegram.png); 
  position: absolute;
  margin: -21px 0 0 -82px;
}
.title--subtitle {
  text-align: left;
  padding-left: 0;
  padding-bottom: 20px;
} 

.title--search {
  text-align: left;
    padding:7px 23px 10px 19px;
}

.title--main {
  text-align: left;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: white;
  padding: 48px 0 25px 0;
}