/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  background-color: rgba(90, 104, 114, 0.8);
  position: absolute;
  min-height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #152935; }

.wrap {
  display: block;
  text-align: center; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #152935; }

body {
  /* overflow-x: hidden; */ }

::-webkit-scrollbar {
  height: 1px;
  background-color: #bbb; }

.slider {
  width: 97%;
  margin: 0 auto 28px;
  position: relative; }
  @media only screen and (max-width: 889px) {
    .slider {
      overflow: auto; } }
  .slider .slider__list {
    width: 24%; }
    @media only screen and (max-width: 889px) {
      .slider .slider__list {
        padding: 0 5.5px;
        width: 214px; } }
  .slider .slider__list--short-list {
    width: 32%; }
  .slider .slider__link {
    position: relative; }
    .slider .slider__link:hover .text-little {
      /* text-decoration: underline; */
      font-size: 14px; }
  .slider .slider__image {
    width: 100%;
    margin-bottom: 17px; }
    @media only screen and (max-width: 889px) {
      .slider .slider__image {
        width: 203px; } }
  .slider .slider__image--short-list {
    margin-bottom: 10px; }
  .slider .slider__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .slider .slider__array-left, .slider .slider__array-right {
    width: 10%;
    height: 100%;
    content: "";
    position: absolute;
    margin-left: -20px; }
  .slider .slider__array-right {
    margin-left: 90%; }

.slider--big-indent {
  margin-bottom: 37px; }

.select {
  margin-bottom: 32px;
  margin-left: 22px;
  width: 313px;
  height: 42px; }
  .select .select__item--red {
    font-size: 30px;
    line-height: 20px;
    color: #E71D32; }

.select--header {
  width: 345px;
  margin: 0 0 0px 0; }

.tab-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 4px 0 22px; }
  .tab-navigation .tab-navigation__list {
    padding: 0 18px;
    font-size: 14px; }
    .tab-navigation .tab-navigation__list a {
      border-bottom: 2px solid transparent; }
    @media only screen and (max-width: 889px) {
      .tab-navigation .tab-navigation__list {
        font-size: 13px; } }
  .tab-navigation .tab-navigation__list:hover a {
    border-bottom: 2px solid #30AE63; }
  .tab-navigation .tab-navigation__list:active a {
    border-bottom: 2px solid #50DB88; }
  .tab-navigation .tab-navigation__list:visited a {
    border-bottom: 2px solid #50AE63; }
  .tab-navigation .tab-navigation__link {
    display: block;
    padding: 0 3px 9px; }

.checkbox-navigation {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  padding: 6px 0 30px 7px; }
  @media only screen and (max-width: 889px) {
    .checkbox-navigation {
      justify-content: center; } }

.checkbox-label, .checkbox-circles {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 14px; }

.checkbox {
  display: none; }

.checkbox:checked + .checkbox-label:before, .checkbox:checked + .checkbox-circles:before {
  content: "";
  display: inline-block;
  width: 68px;
  height: 2px;
  margin: 0 10px 0 0;
  position: absolute;
  left: 18px;
  bottom: -12px;
  background-color: #30AE63; }

.checkbox:checked + .checkbox-label--short:before {
  left: 8px; }

.checkbox-navigation--circles {
  padding: 2px 0 30px 32px; }

.checkbox-circles {
  padding-right: 24px; }

.checkbox-circles:before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 6px;
  bottom: -14px;
  border: 2px solid white;
  border-radius: 20px; }

.checkbox:checked + .checkbox-circles:before {
  content: "1";
  color: #152935;
  line-height: 35px;
  display: inline-block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 6px;
  bottom: -14px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: white; }

.checkbox:checked + .ch-2:before {
  content: "2"; }

.checkbox:checked + .ch-3:before {
  content: "3"; }

.checkbox:checked + .ch-4:before {
  content: "4"; }

.checkbox:checked + .ch-5:before {
  content: "5+"; }

.menu-icon {
  height: 30px;
  width: 30px;
  padding-top: 16px;
  margin: 3px 0 -30px 1px;
  float: right;
  position: relative;
  /* Line */
  /* opacity: 1.00;
border: 1px solid #DFE3E6; */ }
  .menu-icon .menu-icon__circle {
    display: block;
    position: absolute;
    height: 4px;
    width: 4px;
    background: white;
    border-radius: 2px;
    content: ""; }
  .menu-icon .menu-icon__circle--middle-circle {
    margin-top: 8px; }
  .menu-icon .menu-icon__circle--bottom-circle {
    margin-top: 16px; }
  .menu-icon .menu-icon__um-list {
    margin: 25px 0 0 -100px;
    display: none; }
  .menu-icon .menu-icon__list {
    padding: 10px;
    margin-left: -50px;
    background-color: white;
    /* 
Rectangle 222
background: #FFFFFF;
opacity: 1.00;
border: 1px solid #DFE3E6;

box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

Path
background: #DADADA;
opacity: 1.00;
Rectangle 223
background: #DADADA;
opacity: 1.00;
transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0); */ }

.menu-icon--short-list {
  margin-left: 14em; }

.search {
  padding: 20px;
  background-color: transparent; }

.button {
  display: inline-block;
  background: #30AE63;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02px;
  color: #FFFFFF;
  padding: 11px 68px; }
  .button:hover {
    background: #50DB88;
    border: 1px solid #DFE3E6;
    line-height: 18px; }
  .button:disabled {
    opacity: 0.40; }
  @media only screen and (max-width: 889px) {
    .button {
      padding: 11px 39px; } }

.button--small {
  padding: 9px 23px; }

.wrap--button {
  margin-left: 20px; }

.button--secondary {
  background: white;
  color: #30AE63;
  padding: 11px 42px;
  margin: 22px 0 0 40px;
  border: 2px solid #30AE63;
  border-radius: 2px; }
  .button--secondary:hover {
    background: #30AE63;
    color: white; }

.radio-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px; }

.radio {
  display: none; }

.radio-label:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #30AE63; }

.wrap .radio-label:before {
  border-radius: 7px; }

.radio:checked + .radio-label:before {
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  background: rgba(90, 104, 114, 0);
  border: 2px solid #30AE63;
  border-radius: 7px;
  content: ""; }

.title {
  text-align: center;
  font-size: 24px;
  display: block;
  padding: 25px; }
  @media only screen and (max-width: 889px) {
    .title {
      font-size: 20px; } }

.title--title-icon {
  text-align: left;
  padding-left: 0;
  display: block;
  margin: -3px 0 5px 81px; }

.title--title-icon:before {
  content: url(../img/telegram.png);
  position: absolute;
  margin: -21px 0 0 -82px; }

.title--subtitle {
  text-align: left;
  padding-left: 0;
  padding-bottom: 20px; }

.title--search {
  text-align: left;
  padding: 7px 23px 10px 19px; }

.title--main {
  text-align: left;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: white;
  padding: 48px 0 25px 0; }

.text-little {
  font-size: 12px;
  line-height: 16px;
  color: #8C9BA5;
  margin: 8px 0 12px; }

.text-little--icon {
  color: #152935;
  position: relative;
  margin-left: 20px; }
  .text-little--icon:before {
    display: block;
    position: absolute;
    height: 8px;
    width: 8px;
    background: #E71D32;
    border-radius: 4px;
    content: "";
    margin: 4px 0 0 -20px; }

.text-little--icon-blue:before {
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  background: #2573D8;
  border-radius: 4px;
  content: ""; }

.text-little--no-icon {
  margin-left: 0; }

.text-little--no-icon:before {
  display: none; }

.text-little--uppercase, .text-little--uppercase-blue {
  text-transform: uppercase;
  margin-bottom: 4px; }

.text-little--uppercase-blue {
  color: #30AE63; }

.text-little--title {
  font-size: 16px;
  line-height: 24px;
  text-align: left; }

.text--little--little-indent {
  margin-top: 20px; }

.text--icon:after {
  content: url(../img/shape.png);
  margin-left: 16%; }

.text--white {
  padding-bottom: 10px;
  color: white;
  font-size: 14px;
  text-align: left; }
  @media only screen and (max-width: 889px) {
    .text--white {
      text-align: center;
      padding-top: 20px; } }

.section, .search {
  /* min-width: 890px; */
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff; }
  .section .section__paragraph, .search .section__paragraph {
    text-align: center;
    display: block;
    font-size: 14px;
    width: 53%;
    margin: 0 auto 18px;
    line-height: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 889px) {
      .section .section__paragraph, .search .section__paragraph {
        width: 85%; } }
  .section .section__paragraph--no-shadow, .search .section__paragraph--no-shadow {
    text-shadow: none;
    margin-bottom: 20px; }
  .section .section__link, .search .section__link {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-top: 2px solid #F0F3F6; }

.section--no-wrap {
  background-color: rgba(90, 104, 114, 0);
  padding: 20px 0; }

.section--section-with-padding {
  padding: 47px 55px 64px 40px; }

.footer {
  padding: 11px 0;
  max-width: 1200px;
  margin: 0 auto; }
  .footer .footer__banner {
    padding: 13px 20px 13px 12px;
    width: 25%; }
  .footer .footer__link {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 8px; }
    .footer .footer__link:hover {
      color: #aaa; }
  .footer .footer__link--sprite {
    width: 22px;
    height: 18px;
    overflow: hidden;
    margin: 5px; }
  .footer .footer__img {
    background-repeat: no-repeat;
    display: block;
    margin: -8px 0 0 -48px; }
  .footer .footer__img--middle-sprite {
    margin: -5px 0 0 -26px; }
  .footer .footer__img--right-sprite {
    margin: -8px 0 0 -3px; }
  .footer .footer__title {
    font-size: 16px;
    text-align: left; }
  .footer .footer__text {
    display: block;
    font-size: 11px;
    padding: 8px; }
  .footer .footer__text--big {
    font-size: 13px;
    padding-bottom: 30px; }
  @media only screen and (max-width: 889px) {
    .footer {
      text-align: center; }
      .footer .footer__banner {
        margin: 0 auto;
        width: 60%; }
      .footer .footer__title {
        text-align: center; } }

.logo {
  margin: 10px auto;
  display: block; }

.container, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0; }
  @media only screen and (max-width: 889px) {
    .container, .footer {
      flex-direction: column; } }
  .container .container__banner, .footer .container__banner {
    width: 50%;
    display: block;
    text-align: center; }
    @media only screen and (max-width: 889px) {
      .container .container__banner, .footer .container__banner {
        width: 100%; } }
  .container .container__banner--left-position, .footer .container__banner--left-position {
    text-align: left; }
    @media only screen and (max-width: 889px) {
      .container .container__banner--left-position, .footer .container__banner--left-position {
        text-align: center; } }
  @media only screen and (max-width: 889px) {
    .container .container__banner--hide, .footer .container__banner--hide {
      display: none; } }
  .container .container__banner--banner-with-margin, .footer .container__banner--banner-with-margin {
    padding: 40px 0 43px 10px; }
    @media only screen and (max-width: 889px) {
      .container .container__banner--banner-with-margin, .footer .container__banner--banner-with-margin {
        width: 100%;
        padding-left: 0;
        padding-bottom: 5px; } }
  .container .container__text, .footer .container__text {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 0; }
  .container .container__link, .footer .container__link {
    text-align: left;
    display: block;
    margin: 0 13px 10px; }
    .container .container__link:hover .text-little--title, .footer .container__link:hover .text-little--title {
      text-decoration: underline; }
  .container .container__image, .footer .container__image {
    width: 100%;
    margin-bottom: 17px; }
  .container .last-text, .footer .last-text {
    margin-bottom: 36px; }

.container--sprite {
  justify-content: flex-start;
  padding: 5px 0; }
  @media only screen and (max-width: 889px) {
    .container--sprite {
      flex-direction: row;
      justify-content: center; } }

@media only screen and (max-width: 889px) {
  .container--reverse {
    flex-direction: column-reverse; } }

.header {
  background-color: #30AE63; }
  .header .header__container {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    min-height: 200px;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover; }
