$diam-circle: 8px;
$red-circle: #E71D32;
$blue-circle: #2573D8;

$main-color-design: #30AE63;
$main-color-design-active:#50DB88;
$main-color-design-visited:#50AE63;
$main-color-design-active-border:#DFE3E6;
$text-grey:#8C9BA5;
$color-wrapper:#152935;

$little-font-size: 12px;
$main-font-size: 16px;
$big-font-size: 24px;

$wrapper-width: 890px;